.BLOG {
  width: 100%;
  box-sizing: border-box;
  background-color: lightgrey;
  padding-top: 70px;
  padding-bottom: 50px;

  .blog-title {
    font-size: 52px;
    font-weight: 800;
    text-align: center;
  }
  .out-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    // position: relative;
  }
  .in-blog {
    background-color: grey;
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    column-gap: 30px;
    padding: 80px 90px;
  }
  .cards {
    cursor: pointer;
    background-color: whitesmoke;
    min-width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    transition: 200ms;
  }
  .card-title {
    width: 100%;
    text-align: center;
    font-size: 22px;
  }
  .card-sub {
    width: 100%;
    text-align: center;
  }
  .cards:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.121);
  }
  .popup {
    position: absolute;
  }
  .popupMenu {
    width: 500px;
    height: 500px;
    background-color: rgba(42, 40, 40, 0.993);
    position: fixed;
    z-index: 98;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.342);
  }
  .data {
    color: white;
    h3 {
      padding-bottom: 30px;
    }
    p {
      color: #ddd;
      line-height: 2;
    }
  }
  .remove {
    font-size: 32px;
    font-weight: 900;
    position: absolute;
    background-color: rgb(123, 122, 120);
    width: 90%;
    text-align: center;
    transform: translateX(-50%);
    border: none;
    border-radius: 30px;
    bottom: 40px;
    color: black;
  }
}
